.profile-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(2, 140px);
  place-items: center;
  gap: 20px;
  width: 100%;
  padding: 12px;
  border-top: 1px solid lightgrey;
}
.profile-img-container {
  grid-row: 1 / 3;
  display: flex;
  justify-content: flex-end;
}
.profile-image {
  width: 76%;
}
.profile-description {
  grid-row: 1 / 3;
  width: 72%;
  margin-right: 48px;
}
.profile-description h2 {
  margin-bottom: 20px;
}
.projects-container {
  width: 100%;
}
.projects-title {
  text-align: center;
  margin: 16px 0;
  padding-bottom: 8px;
}
.projects-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid lightslategray;
}
.project-item-title {
  margin: 8px 0;
  font-weight: bolder;
}
.project-item img {
  width: 100%;
}
.project-item-description {
  padding: 16px;
  padding-left: 0;
}
@media screen and (max-width: 560px) {
  .profile-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
  }
  .profile-img-container {
    grid-row: 1 / 2;
    justify-content: center;
  }
  .profile-image {
    width: 88%;
  }
  .profile-description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 84%;
    margin: 0 auto;
  }
}
